<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<link href="css/Lebenslauf.css" type="text/css" rel="stylesheet">

<meta charset="UTF-8">
<title>Skills</title>
</head>
<body>
	<div id="banner">
		<h1>Derric Donehoo</h1>
	
		<nav>	
			<a class='btn btn-info' href="./Education.html">Education</a>
			<a class='btn btn-info' href="./Homepage.html">HomePage</a>
			<a class='btn btn-info' href="./Skills.html">Skills</a>
			<a class='btn btn-info' id="actint" href="./ActivitiesInterests.html">Activities and Interests</a><br/><br/>
		</nav>
	</div>
	<article class="content">
		<ul>
			<li>Native English speaker</li>
			<li>High School Diploma</li>
			<li>Experience as soccer coach</li>
		</ul>
	</article>
	</div>
<footer>
	<div id="footer">
      <p>This is a playground landing ©Derric Inc.</p>
      <ul class='list-inline'>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://github.com/derric-d"><i class="fab fa-github"></i></a></li>
      </ul>
    </div>
</footer>
</body>
</html>